<div class="formWrapper  d-flex flex-column p-1 p-sm-4 overflow-hidden">
    <div class="d-flex justify-content-between row mt-3">
        <span class="fw-bold fs-5 col-12  col-sm-12 col-md-10 col-lg-9 col-xl-9">inventory > <span class="fontCommon color">Product View</span></span>
    </div>
    <!-- form division start -->
    <div class="overflow-auto  bg-white mt-4 mx-auto h-100 w-100 p-4">
        <p class="fs-6 fw-bold">Product Detail</p>
        <span class="text-muted fs-6">Full Details of Product</span>
        <div class="mt-4"><img src="../../../../assets/assets/images/images/Rectangle 2059.png" alt="" class="card-img"></div>
        <div class="mt-4 row border rounded m-1">
            <div class="col-3 border p-2">
                <span>Product Name</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>MAckbook Pro</span>
            </div>
            <div class="col-3 border p-2">
                <span>SKU</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>PT454</span>
            </div>
            <div class="col-3 border p-2">
                <span>Category</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>Computer</span>
            </div>
            <div class="col-3 border p-2">
                <span>Brand</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>Apple</span>
            </div>
            <div class="col-3 border p-2">
                <span>Price</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>$14000</span>
            </div>
            <div class="col-3 border p-2">
                <span>Unit</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>5</span>
            </div>
            <div class="col-3 border p-2">
                <span>Quntity</span>
            </div>
            <div class="col-9 border text-muted p-2">
                <span>10</span>
            </div>
        </div>
    </div>
</div>