<div class=" justify-content-center bgCommon Product-wrapper">
    <main class="grid ">
        <div *ngFor="let item of Products">
            <!-- <ng-image-slider [images]="imageObject" #nav> -->
            <app-product-card [Product]="item" (click)="onProductCardClick(item)">
                <ng-container class="card_images">
                    <img src="../../../assets/assets/images/images/man-thisrt.jpg" alt="" class="product_image">
                </ng-container>
            </app-product-card>
        </div>

    </main>
</div>
