<div class=" justify-content-center bgCommon Product-wrapper">
    <main class="grid ">
        <div *ngFor="let item of Products">
            <!-- <ng-image-slider [images]="imageObject" #nav> -->
            <app-product-card [Product]="item" (click)="onProductCardClick(item)">
                <ng-container class="card_images">
                    <img src="../../../assets/assets/images/images/man-thisrt.jpg" alt="" class="product_image">
                </ng-container>
            </app-product-card>
            <!-- </ng-image-slider> -->
            <!-- <button (click)="prevImageClick()">Prev</button>
            <button (click)="nextImageClick()">Next</button> -->
        </div>
        <!-- <div>
            <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="tshirt photo" class="product_image">
            <div class="text">
                <h3>iPhone 14 Plus</h3>

                <p>17.00 cm or 15.54 cm Super Retina XDR display footnote¹ ProMotion technology Always-On display</p>
                <a href="https://teespring.com/fr/police-unit-k-9?cid=2759&page=1&pid=46&tsmac=store&tsmic=dog-lover-graphic-design" class="btn btn-primary btn-block">Add to cart</a>
            </div>
        </div> -->
        <!-- <app-product-card [Product]="product2">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/iphone-13-promax.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product3 ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/Vivo,v-3.webp " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product4 ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/samsung-galaxy-z-fold-3-render-2.jfif " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product5 ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/samsung galaxys21.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product6 ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/Vivo-x-fold.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/mobile-1.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/mobile-1.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/mobile-1.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/mobile-1.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/mobile-1.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product ">
            <ng-container class="card_images ">
                <img src="../../../assets/assets/images/images/mobile-1.jpg " alt=" " class="product_image ">
            </ng-container>
        </app-product-card> -->


    </main>

    <!-- <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
        </div>
        <!-- Add Pagination
        <div class="swiper-pagination"></div>
        <!-- Add Arrows
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper> -->

</div>