<div class=" d-flex justify-content-center bgCommon Product-wrapper">
    <main class="grid ">
        <app-product-card [Product]="product" (click)="onProductCardClick($event)">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <!-- <div>
            <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="tshirt photo" class="product_image">
            <div class="text">
                <h3>iPhone 14 Plus</h3>

                <p>17.00 cm or 15.54 cm Super Retina XDR display footnote¹ ProMotion technology Always-On display</p>
                <a href="https://teespring.com/fr/police-unit-k-9?cid=2759&page=1&pid=46&tsmac=store&tsmic=dog-lover-graphic-design" class="btn btn-primary btn-block">Add to cart</a>
            </div>
        </div> -->
        <app-product-card [Product]="product2" (click)="onProductCardClick($event)">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/iphone-13-promax.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product3" (click)="onProductCardClick($event)">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/Vivo,v-3.webp" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product4" (click)="onProductCardClick($event)">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/samsung-galaxy-z-fold-3-render-2.jfif" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product5" (click)="onProductCardClick($event)">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/samsung galaxys21.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product6" (click)="onProductCardClick($event)">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/Vivo-x-fold.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>
        <app-product-card [Product]="product">
            <ng-container class="card_images">
                <img src="../../../assets/assets/images/images/mobile-1.jpg" alt="" class="product_image">
            </ng-container>
        </app-product-card>

    </main>
</div>