<!-- <input type="email" [(ngModel)]="email" /> -->

<!-- <label for="Name" class="d-flex justify-content-start mb-2 fw-bold"> <ng-content select=".name"></ng-content></label>
<input class="form-control inputBorder text-muted" type="text" id="Name" placeholder="enter your data" aria-label="Name" formControlName="Name"> -->


<!-- <div class="form-group">
    <label for="name">{{ label }}</label>
    <input id="name" class="form-control" type="type" [placeholder]="placeholder">

 <span class="error invalid-feedback" *ngIf="(controlDir.touched || controlDir.dirty) && controlDir.invalid">
         <ng-content select=".form-element-error"></ng-content>
       </span> -->
<!-- </div>  -->

<!-- <div class="form-group">
    <label [for]="inputId">{{ label }}</label>
    <input [id]="inputId" [type]="type" [formControl]="control" class="form-control" />
</div> -->



<div class="mb-3">
    <label [for]="labelName" class="d-flex justify-content-start mb-2 fw-bold">{{labelName}}</label>
    <input [id]="labelName " [type]="inputType" class="form-control " id="exampleInputPassword1 ">
</div>