.Product_name {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_Description {
    white-space: nowrap;
    width: 200px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}