<div class="product_card">
    <span>
    <ng-content select=".card_images" ></ng-content>
  </span>
    <!-- <img src="../../../assets/assets/images/images/mobile-1.jpg " alt="tshirt photo " class="product_image "> -->
    <div class="text-start d-flex flex-column mt-2">
        <span class="fs-5 text-break fw-bold Product_name">{{Product.Name}}</span>
        <span class="font-product text-muted mt-2 product_Description">{{Product.Description}}</span>
        <div class="d-flex m-2">
            <p class="fw-bold"><i class="fa fa-rupee"></i>{{Product.Price}}
                <ng-content></ng-content>
            </p>
            <p class="ms-3 text-muted"><i class="fa fa-rupee"></i> <del>1200</del>
            </p>
            <p class="ms-3 productDiscount-color  fw-bold">50% off</p>
        </div>

    </div>
</div>