.main-section {
    height: 530px;
    width: 100%;
    overflow: auto;
    // margin: 5px;
    padding: 5px;
}

.height {
    height: 650px;
}

.home-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}