<!-- <div class="main-wrapper d-flex flex-column">
    <!-- sidebar design -->
<!-- <div *ngIf="!shouldShowSidebar">
        <app-side-nav></app-side-nav>
    </div>
    <div>
        <app-header></app-header>
    </div> -
    <ng-container *ngIf="shouldShowSidebar; else elseBlock">
        <div>
            <app-header></app-header>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <div>
            <app-side-nav></app-side-nav>
        </div>
    </ng-template>
    <div class="flex-grow-1 overflow-hidden ">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <div class="home-wrapper"> -->
<div class="h-100 w-100 " [ngClass]="shouldShowSidebar ? 'd-flex flex-column' : 'd-flex'">
    <ng-container *ngIf="shouldShowSidebar; else sidenavBlock">
        <app-header></app-header>
    </ng-container>
    <ng-template #sidenavBlock>
        <app-side-nav></app-side-nav>
    </ng-template>
    <div class="main-section" [ngClass]="shouldShowSidebar ? 'main-section' : 'height'">
        <router-outlet></router-outlet>
    </div>
</div>