<!-- <div class="main-wrapper"> -->
<div class=" cardWrapper d-flex flex-column  ps-3 pe-3">
    <div class="row  customPadding">
        <div class="col-lg-6">
            <div class="salesOverview d-flex flex-column w-100 rounded ">
                <p class="fontCommon fw-bold pb-2">Sales Overview</p>
                <div class="cardSection row ps-2 pe-2 pb-2 pt-2 g-3">
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card1" [backgroundColor]="card1_bg1">
                            <ng-container class="card_images ">
                                <img src="../../../assets/assets/images/images/Sales (1).png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card2" [backgroundColor]="card1_bg2">
                            <ng-container class="card_images">
                                <img src="../../../assets/assets/images/images/Sales (2).png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                        <!-- <div class="cardCoommon rounded bgCommon p-3 d-sm-flex d-sm-flex-column justify-content-sm-center flex-row">
                                <div class="text-center ">
                                    <div class="card_icon annualprofit">

                                    </div>
                                </div>
                                <div class="d-flex flex-column  m-1">
                                    <span class="cardHeading text-muted">Annual Profit</span>
                                    <span class="rate mt-1 mb-2">$1250,0k</span>
                                    <span class="cardHeading "><i class="fa fa-arrow-up arrowColor" aria-hidden="true"></i><span class="arrowColor ms-1">6%</span>
                                    <span>Last 7 days</span></span>
                                </div>
                            </div> -->
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card3" [backgroundColor]="card1_bg3">
                            <ng-container class="card_images">
                                <img src="../../../assets/assets/images/images/Sales (3).png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                        <!-- <div class="cardCoommon rounded bgCommon p-3 d-sm-flex d-sm-flex-column justify-content-sm-center flex-row">
                                <div class="text-center ">
                                    <div class="card_icon dailysale">

                                    </div>
                                </div>
                                <div class="d-flex flex-column  m-1">
                                    <span class="cardHeading text-muted">Annual sale</span>
                                    <span class="rate mt-1 mb-2">$1250.0k</span>
                                    <span class="cardHeading "><i class="fa fa-arrow-up arrowColor" aria-hidden="true"></i><span class="arrowColor ms-1">6%</span>
                                    <span>Last 7 days</span></span>
                                </div>
                            </div> -->
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card4" [backgroundColor]="card1_bg4">
                            <ng-container class="card_images">
                                <img src="../../../assets/assets/images/images copy/sales4.png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="salesOverview d-flex flex-column w-100 rounded ">
                <p class="fontCommon fw-bold pt-2 pb-2">Purchase Overview</p>

                <div class=" cardSection row p-2 g-3">
                    <div class=" col-6 col-md-6 col-lg-6">
                        <app-card [card]="card5" [backgroundColor]="card1_bg3">
                            <ng-container class="card_images">
                                <img src=".../../../assets/assets/images/images copy/Sales (3).png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card6" [backgroundColor]="card1_bg6">
                            <ng-container class="card_images">
                                <img src="../../../assets/assets/images/images copy/sales7.png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card6" [backgroundColor]="card1_bg7">
                            <ng-container class="card_images">
                                <img src="../../../assets/assets/images/images/sales6.png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <app-card [card]="card6" [backgroundColor]="card1_bg8">
                            <ng-container class="card_images">
                                <img src="../../../assets/assets/images/images/sales 8.png" alt="" class="card-img">
                            </ng-container>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bar-chart section design -->
    <div class="chartSection rounded ps-3 pb-3 pe-3 pt-2 mb-2">
        <p class="fontCommon fw-bold mt-3">Sales Satstic</p>
        <app-sales-satstic></app-sales-satstic>
    </div>
    <!-- chart section -->
    <div class="stockSection flex-row  d-lg-flex  d-xl-flex ps-3 pb-2 pe-4 pt-4 mb-4">
        <!-- pie chart -->
        <div class="rounded  w-100 me-3  ">
            <p class="fontCommon fw-bold mt-3">Stock</p>
            <app-stock></app-stock>
        </div>
        <!-- bar chart chart -->
        <!-- removing height for adjust in responsive -->
        <div class="rounded w-100 position-relative">
            <p class="fontCommon fw-bold mt-3">Top Selling items</p>
            <div class="bg-white p-2">
                <app-topsellingitems></app-topsellingitems>
                <!-- <canvas id="myChart1" style="width:100%;max-width:600px; height:400px;"></canvas> -->
            </div>
        </div>
    </div>
    <div class="sellingCategories  flex-row  d-lg-flex d-xl-flex ps-3 pb-4 pe-4 pt-3 mb-4">
        <div class="h-100 w-100 me-3 ">
            <p class="fontCommon fw-bold mt-1">Top Selling Categories</p>
            <div class="bg-white rounded ps-sm-4 pe-sm-4 pb-sm-1 pt-sm-3 ps-2 pb-0 pt-2 pe-2  position-relative  sellingWrapper">
                <span class="fontCommon float-start">Total 10k visitor</span>
                <div class="d-flex  ">
                    <div id="circle1">
                        <p class="text-light text-center mt-5 pt-4 mb-0 fontCommon">Fashion</p>
                        <div class="d-flex flex-column text-center">
                            <span class="text-light fs-3 fw-bolder">4.567</span>
                            <span class=" fontCommon text-white-50">Perday</span>
                        </div>
                    </div>
                    <div id="circle2">
                        <p class="text-light text-center mt-5 pt-1  mb-0 fontCommon">Electronic</p>
                        <div class="d-flex flex-column text-center">
                            <span class="text-light fs-3 fw-bolder">4.567</span>
                            <span class="text-white-50 fontCommon">Perday</span>
                        </div>
                    </div>
                    <div id="circle3">
                        <p class="text-light text-center mt-3 mb-0 fontCommon">Health</p>
                        <div class="d-flex flex-column text-center">
                            <span class="text-light fs-3 fw-bolder">4.567</span>
                            <span class="text-white-50 fontCommon">Perday</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 w-100 sellingCategories">
            <p class="fontCommon fw-bold mt-1">Order Summary</p>
            <div class="bg-white rounded ps-4 pb-3 pt-3 pe-4">
                <!-- <canvas baseChart width="500" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"> -->
                <!-- </canvas> -->
                <canvas baseChart id="line-chart" style="width:100%;max-width:600px; height:390px;" [datasets]="lineChartData" [style.colors]="lineChartColors" [labels]="lineChartLabels" [options]="lineChartOptions" [style.colors]="lineChartColors" [legend]="lineChartLegend"
                    [type]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                <!-- <div id="Linechart" class="margin-auto" style="width:100%;max-width:600px; height:390px;">
                    </div> -->
                <!-- <canvas id="chart " style="width:100%;max-width:600px; height:390px; "></canvas> -->
            </div>
        </div>
    </div>
</div>
<!-- </div> -->