.view-detail-wrapper {
    background: #f8f8f8;
    padding: 10px;
    height: 100%;
    width: 500px;
    overflow: hidden;
}

.details-card {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.details-img {
    height: 200px;
    // width: 300px;
    object-fit: contain;
    border-radius: 0 !important;
}

.description-container {
    position: relative;
    /* height: 900px; */
}

.main-description1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-description h3 {
    font-size: 2rem;
}

// .add-inputs,
// .add-inputs input {
//     float: left;
//     margin-right: 10px;
//     margin-bottom: 2px;
// }
.add-inputs button {
    border-radius: 0;
}

.add-inputs input {
    height: 48px;
    width: 65px;
    border-radius: 0;
}

.product-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.product-description {
    word-wrap: break-word;
}

$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;
.qty-input {
    color: $black;
    background: $white;
    display: flex;
    align-items: center;
    overflow: hidden;
    .product-qty,
    .qty-count {
        background: transparent;
        color: inherit;
        font-weight: bold;
        font-size: inherit;
        border: none;
        display: inline-block;
        min-width: 0;
        height: 2.5rem;
        line-height: 1;
        &:focus {
            outline: none;
        }
    }
    .product-qty {
        width: 50px;
        min-width: 0;
        display: inline-block;
        text-align: center;
        appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }
    .qty-count {
        padding: 0;
        cursor: pointer;
        width: 2.5rem;
        font-size: 1.25em;
        text-indent: -100px;
        overflow: hidden;
        position: relative;
        &:before,
        &:after {
            content: "";
            height: 2px;
            width: 10px;
            position: absolute;
            display: block;
            background: $black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        &--minus {
            border-right: 1px solid $smoke;
        }
        &--add {
            border-left: 1px solid $smoke;
            &:after {
                transform: rotate(90deg);
            }
        }
        &:disabled {
            color: $gray;
            background: $disable;
            cursor: not-allowed;
            border-color: transparent;
            &:before,
            &:after {
                background: $gray;
            }
        }
    }
}

.qty-input {
    border-radius: 4px;
    box-shadow: 0 1em 2em -0.9em rgba(#000, 0.7);
    transform: scale(1.5);
}

.countervalue_size {
    height: 30px;
    width: 30px;
    padding: 10px !important;
    font-size: 0.9rem;
}
