<!-- product detail-page -->
<div class="view-detail-wrapper">
    <div class="card details-card p-0">
        <div class="row flex-column ">
            <div class="col-md-12 col-sm-12 p-4">
                <img class="details-img" src="../../../assets/assets/images/images/iphone-13-promax.jpg" alt="">
            </div>
            <div class="col-md-12 col-sm-12 description-container p-4">
                <div class="main-description">
                    <span class="product-category fontCommon mb-0">Graphite</span>
                    <p class="fs-4 fw-bold">iPhone 13 Pro-max -256GB</p>
                    <hr>
                    <p class="fs-5 ">$1199.00</p>
                    <div style="clear:both"></div>
                    <hr>
                    <p class="product-title mt-4 mb-1">About this product</p>
                    <p class="product-description text-break mb-4">
                        The iPhone 13 Pro Max is Apple's biggest iPhone, but it doens't have any advantages over the iPhone 13 Pro in terms of features, unlike in previous generations. It's heavy and unwieldy, but the big display is great for games and the increased battery
                        capacity allows for nearly two full days of regular use.
                    </p>

                    <div class="d-flex justify-content-around mt-3">
                        <button type="submit" (click)="BuyNow()" class="btn btn-card bg-btn-card  p-xl-0
                     btn-block "><i class="fa fa-shopping-cart me-2" aria-hidden="true"></i>
                    Buy Now</button>
                        <button type="submit" class="btn-card btn-Cart p-0 ms-2 rounded">
                        <span class="btn-font ">Add to cart</span></button>
                    </div>
                </div>

            </div>
        </div>
        <!-- End row -->
    </div>
</div>