.view-detail-wrapper {
    background: #f8f8f8;
    padding: 10px;
    height: 100%;
    width: 500px;
    overflow: hidden;
}

.details-card {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.details-img {
    height: 200px;
    // width: 300px;
    object-fit: contain;
    border-radius: 0 !important;
}

.description-container {
    position: relative;
    /* height: 900px; */
}

.main-description1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-description h3 {
    font-size: 2rem;
}

.add-inputs,
.add-inputs input {
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
}

.add-inputs button {
    border-radius: 0;
}

.add-inputs input {
    height: 48px;
    width: 65px;
    border-radius: 0;
}

.product-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.product-description {
    word-wrap: break-word;
}