<div class="formWrapper  d-flex flex-column p-1 p-sm-4 overflow-hidden">
    <div class="d-flex justify-content-between row mt-3">
        <span class="fw-bold fs-5 col-12  col-sm-12 col-md-10 col-lg-9 col-xl-9">inventory > <span class="fontCommon">Add Brand</span></span>
    </div>
    <!-- form division start -->
    <form [formGroup]="brandForm" novalidate class="overflow-hidden  bg-white mt-4 mx-auto">

        <div class="p-5 mt-2">
            <div class="row text-center ">
                <div class="col-12">
                    <app-input-control inputType="text" labelName="Name"></app-input-control>
                </div>
                <div class="col-12 mt-4">
                    <app-input-control inputType="password" labelName="password"></app-input-control>
                </div>
            </div>
        </div>
        <!-- button design -->
        <div class="row mt-2 mb-4 ">
            <div class="col-12 ">
                <div class="d-flex justify-content-center ">
                    <button type="submit" class=" btnSubmit rounded " (click)="onSubmit()">
                <span class="fontCommon text-white ">Submit</span></button>
                    <button type="submit" class=" btnCancle ms-4 rounded" (click)="onCancel()">
                      <span class="fontCommon " >Cancle</span></button>
                </div>
            </div>
        </div>
    </form>


</div>