<div class="chart p-5">
    <div class="chart-header mb-3">
        <div class="chart-detail">
            <p class="text-color">$5421,11</p>
            <span class="text-color"><img src="../../../assets/images/" alt srcset></span>
            <p>56% more than last Year</p>
        </div>
        <div class="weekly">
            <button class=""><i class="fa fa-calendar"></i><span class="mx-2">Weekly</span></button>
        </div>
    </div>
    <div id="linechart" style="height: 320px; width: 100%; margin:auto;"></div>
</div>