<div class="sidebar">
    <div class="menu-icon" onclick="openSidebar()">
        <div class="logoDetail ps-3  ">
            <i class="fa fa-bars ms-2 me-5 fs-5"></i>
            <span><i class="fa fa-university  commonColor ms-5 mb-1 inventIcon fs-5" aria-hidden="true"></i></span>
            <span class="text-dark fw-bold fontCommon ms-2 ">INVENT CHAIN</span>
            <span> <i class="fa fa-ellipsis-v cp   commonColor  ms-sm-5  ps-sm-3  ps-md-5 ps-lg-5  ms-5 mt-1 inventIcon fs-5" aria-hidden="true"></i></span>
        </div>
    </div>
    <!-- full sidebar design -->
    <aside id="sidebar">
        <div class="sidebar-title border-bottom pb-3">
            <div class="logo-details d-flex ps-4 pt-5 pb-4">
                <span><i class="fa fa-university fs-3" aria-hidden="true"></i></span>
                <span class="text-dark fw-bold ms-2">INVENT CHAIN</span>
            </div>
            <span class="m-3 float-end close-icon" onclick="closeSidebar()"><i class="fa fa-close" style="font-size:24px"></i></span>
        </div>
        <!-- sidebar-->
        <nav class="nav-links mt-3">
            <li class="p-2 p-md-1">
                <a href="#" routerLink="dashboard" routerLinkActive="active">
                    <i class="fa fa-windows commonColor" aria-hidden="true"></i>
                    <span class="link_name commonColor">Dashboard</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a routerLink="Inventory" routerLinkActive="active">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    <span class="link_name">Inventory</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a routerLink="roleMaster" routerLinkActive="active">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    <span class="link_name">Role</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a routerLink="CategoryMaster" routerLinkActive="active">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <span class="link_name">Category</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a routerLink="subCategory" routerLinkActive="active">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="link_name">Sub-Category</span>
                </a>
            </li>
            <li class="mt-4 p-2  p-md-1">
                <a routerLink="BrandMaster" routerLinkActive="active">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="link_name">BrandMaster</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a routerLink="discountMaster" routerLinkActive="active">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span class="link_name">Discount</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a href="#">
                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                    <span class="link_name">Language</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="link_name">Setting</span>
                </a>
            </li>
            <li class="p-2 p-md-1">
                <a href="#">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="link_name">Logout</span>
                </a>
            </li>
            <li class="pt-2">
                <div class="d-flex justify-content-between mt-5 ">
                    <div id="oval" class="p-1 ms-3 me-1">
                        <div class="img__wrapper">
                            <img src="https://www.w3cplus.com/sites/default/files/blogs/2020/2004/css-circle-image-2.jpg" alt="">
                        </div>
                        <div class="d-flex justify-content-center align-item-center">
                            <span class="text-white ms-1">Phill Health</span>
                            <span class="text-white ms-2"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <span class="simpleCircle ms-3">
            <i class="fa fa-bell" aria-hidden="true"></i>
            </span>
                </div>
            </li>
        </nav>
    </aside>
    <!-- End Sidebar -->
</div>